@model List<Shoe_Model>

<section class="banner-area organic-breadcrumb">
	<div class="container">
		<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
			<div class="col-first">
				<h1>Trang danh mục sản phẩm</h1>
				<nav class="d-flex align-items-center">
					<a asp-controller="Home" asp-action="Index">Trang chủ<span class="lnr lnr-arrow-right"></span></a>
					<a href="#">Shop<span class="lnr lnr-arrow-right"></span></a>
					<a href="category.html">Danh mục giày</a>
				</nav>
			</div>
		</div>
	</div>
</section>
<!-- End Banner Area -->
<div class="container">
	<div class="row">
		<div class="col-xl-3 col-lg-4 col-md-5">
			<div class="sidebar-categories">
			</div>
			<div class="sidebar-filter mt-50">
				<div class="top-filter-head">Lọc Sản Phẩm</div>
				<div class="common-filter">
					<div class="head">Thương hiệu</div>
					<form method="get" asp-action="Category">
						<ul>
							<li class="filter-list">
								<input class="pixel-radio" type="radio" id="puma" name="brand" value="Puma">
								<label for="Puma">Puma</label>
							</li>
							<li class="filter-list">
								<input class="pixel-radio" type="radio" id="converse" name="brand" value="Converse">
								<label for="converse">Converse</label>
							</li>
							<li class="filter-list">
								<input class="pixel-radio" type="radio" id="nike" name="brand" value="Nike">
								<label for="nike">Nike</label>
							</li>
							<li class="filter-list">
								<input class="pixel-radio" type="radio" id="adidas" name="brand" value="Adidas">
								<label for="adidas">Adidas</label>
							</li>
							<li class="filter-list">
								<input class="pixel-radio" type="radio" id="bitis" name="brand" value="Biti's">
								<label for="bitis">Biti's</label>
							</li>
						</ul>
						<div class="head">Màu</div>
						<ul>
							<li class="filter-list">
								<input class="pixel-radio" type="radio" id="red" name="color" value="Đỏ">
								<label for="red">Đỏ</label>
							</li>
							<li class="filter-list">
								<input class="pixel-radio" type="radio" id="green" name="color" value="Xanh">
								<label for="green">Xanh</label>
							</li>
							<li class="filter-list">
								<input class="pixel-radio" type="radio" id="white" name="color" value="Trắng">
								<label for="white">Trắng</label>
							</li>
							<li class="filter-list">
								<input class="pixel-radio" type="radio" id="black" name="color" value="Đen">
								<label for="black">Đen</label>
							</li>
							<li class="filter-list">
								<input class="pixel-radio" type="radio" id="yellow" name="color" value="Vàng">
								<label for="yellow">Vàng</label>
							</li>
						</ul>
						<br />
						<button type="submit" value="submit" class="primary-btn">Lọc</button>
						<style>
							.primary-btn{
								border:none
							}
						</style>
					</form>
				</div>
			</div>
		</div>
		<div class="col-xl-9 col-lg-8 col-md-7">
			<div class="pagination">
				@{
					var currentPage = ViewData["page"] as int? ?? 1;
					var totalPages = ViewData["size"] as int? ?? 1;
				}
				<a asp-action="CategoryP" asp-route-page="@(currentPage - 1)" class="prev-arrow @(currentPage == 1 ? "disabled" : "")">
					<i class="fa fa-long-arrow-left" aria-hidden="true"></i>
				</a>
				@for (int i = 1; i <= totalPages; i++)
				{
					<a asp-action="CategoryP" asp-route-page="@i" class="@(i == currentPage ? "active" : "")">@i</a>
				}
				<a asp-action="CategoryP" asp-route-page="@(currentPage + 1)" class="next-arrow @(currentPage == totalPages ? "disabled" : "")">
					<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
				</a>
			</div>

			<!-- Start Best Seller -->
			<section class="lattest-product-area pb-40 category-list">
				<div class="row">
					@if (Model != null)
					{
						foreach (var shoe in Model)
						{
							<div class="col-lg-4 col-md-6">
								<div class="single-product">
									<a asp-controller="Shop" asp-action="Detail" asp-route-id ="@shoe.Id">
										<img class="img-fluid" src="~/@shoe.ImageUrl" alt="@shoe.Name">
									</a>
									<div class="product-details">
										<h6>@shoe.Name</h6>
										<div class="price">
											<h6>@shoe.Price.ToString("C")</h6>
											<h6 class="l-through">@shoe.Old_Price.ToString("C")</h6>
										</div>
										<div class="product-meta">
											<p>Brand: @shoe.Brand</p>
											<p>Color: @shoe.Color</p>
											<p>Size: @shoe.Size</p>
											<p>Remaining: @shoe.Remaining</p>
										</div>
									</div>
								</div>
							</div>
						}
					}
				</div>
			</section>
			<!-- End Best Seller -->
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col">
			<hr class="line-divider">
		</div>
	</div>
</div>
