@model Shoe_Model
<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
	<div class="container">
		<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
			<div class="col-first">
				<h1>Trang chi tiết sản phẩm</h1>
				<nav class="d-flex align-items-center">
					<a asp-controller="Home" asp-action="Index">Trang chủ<span class="lnr lnr-arrow-right"></span></a>
					<a href="#">Shop<span class="lnr lnr-arrow-right"></span></a>
					<a href="single-product.html">Chi tiết sản phẩm</a>
				</nav>
			</div>
		</div>
	</div>
</section>
<!-- End Banner Area -->
<!--================Single Product Area =================-->
<div class="product_image_area">
	<div class="container">
		<div class="row s_product_inner">
			<div class="col-lg-6">
				<div class="s_Product_carousel">
					<div class="single-prd-item">
						<img class="img-fluid" src="~/@Model.ImageUrl" alt="@Model.Name">
					</div>
					<div class="single-prd-item">
						<img class="img-fluid" src="~/@Model.ImageUrl" alt="@Model.Name">
					</div>
					<div class="single-prd-item">
						<img class="img-fluid" src="~/@Model.ImageUrl" alt="@Model.Name">
					</div>
				</div>
			</div>
			<div class="col-lg-5 offset-lg-1">
				<div class="s_product_text">
					<h1>@Model.Name</h1>
					<h2>@Model.Price.ToString("C")</h2>
					<ul class="list">
						<li><h4>Sẵn có: @Model.Remaining Trong kho</h4></li>
						<li><h4>Giá cũ:<span class="l-through"> @Model.Old_Price.ToString("C")</h4></span></li>
						<li><h4>Hãng: @Model.Brand</h4></li>
						<li><h4>Màu: @Model.Color</h4></li>
						<li><h4>Size: @Model.Size</h4></li>

					</ul>
					<br />
					<div class="product_count">
						<label for="qty">Số lượng:</label>
						<input type="text" name="qty" id="sst" maxlength="12" value="1" title="Quantity:" class="input-text qty">
						<button onclick="increaseCount()"
								class="increase items-count" type="button">
							<i class="lnr lnr-chevron-up"></i>
						</button>
						<button onclick="decreaseCount()"
								class="reduced items-count" type="button">
							<i class="lnr lnr-chevron-down"></i>
						</button>
					</div>
					<div class="card_area d-flex align-items-center">
						<a class="primary-btn" asp-controller="Shop" asp-action="Cart">Thêm vào giỏ</a>
						<a class="icon_btn" href="#"><i class="lnr lnr lnr-heart"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--================End Single Product Area =================-->
<br />
<script>
	function increaseCount() {
		var result = document.getElementById('sst');
		var sst = result.value;
		if (!isNaN(sst)) result.value++;
		return false;
	}

	function decreaseCount() {
		var result = document.getElementById('sst');
		var sst = result.value;
		if (!isNaN(sst) && sst > 0) result.value--;
		return false;
	}
</script>
<!--================End Product Description Area =================-->